<div id="form">
<%= form_for inquiry, :html => { :multipart => true } do |f| %>
<input type="hidden" name="logement" id="logement">
  <div>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :firstname %><br/>
    <%= f.text_field :firstname %>
  </div>

  <div>
    <%= f.label :appartement %><br/>
    <%= f.text_field :appartement %>
  </div>

  <div>
    <%= f.label :etage %><br/>
    <%= f.text_field :etage %>
  </div>
    
  <select id="voie5" class="form-control" name="voie">
          <option>Voie</option>
          <option>Francis Garnier</option>
          <option>Pérouse</option>
          <option>Bougainville</option>
          <option>Jacques Cartier</option>
          <option>Champlain</option>
  </select>

  <div>
    <%= f.label :telephone %><br/>
    <%= f.text_field :telephone %>
  </div>
  
  <div>
    <%= f.label :message %><br/>
    <%= f.text_area :message %>
    <%= f.file_field :photo %>
  </div>
  
  <div>
    <%= f.submit "Send" %>
  </div>
 <!--  <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput"> -->
<% end %>
</div>